@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: #ff9fcb;
  --color-green-light: #aaff7d;
  --color-cyan: #bafdff;
  --color-yellow: #feff9c;
  --color-grey-bg: #f2f2f2;

  --font-kalam: var(--font-kalam);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kalam), Helvetica, sans-serif;
}
