@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@font-face {
  font-family: "kalam-rg";
  src: url("/fonts/Kalam-Regular.ttf");
  font-display: block;
}
@font-face {
  font-family: "poppins-l";
  src: url("/fonts/Poppins-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "poppins-rg";
  src: url("/fonts/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "poppins-md";
  src: url("/fonts/Poppins-Medium.ttf");
  font-display: swap;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kalam-rg: "kalam-rg";
  --font-poppins-l: "poppins-l";
  --font-poppins-rg: "poppins-rg";
  --font-poppins-md: "poppins-md";
  --color-pink: #ff9fcb;
  --color-green-light: #aaff7d;
  --color-cyan: #bafdff;
  --color-yellow: #feff9c;
  --color-grey-bg: #f2f2f2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "kalam-rg", "poppins-md", "poppins-rg", "poppins-l", Helvetica, sans-serif;
}
